h1{
    color: #9900ff;
}
.completed{
    text-decoration: line-through;
    color: gray;
}
.not{
    text-decoration: underline;
}


.card{
    width: 50%;
    height: 100px;
    margin: 0 auto;
    display: inline-block;
    margin-bottom: 20px;
}

a.card-link{
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

.card-edit{
    display: inline-block;
}

.del, .upArrow, .downArrow{
    cursor: pointer;
}